*::-webkit-input-placeholder {
	color: #3b4349;
	opacity: 1;
}
*:-moz-placeholder {
	color: #3b4349;
	opacity: 1;
}
*::-moz-placeholder {
	color: #3b4349;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #3b4349;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
} 
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	color: #3b4349;
	margin: 0;
}
button {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
.header {
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 700;
	border-bottom: 1px rgba(77, 181, 255, 0.3) solid;
	color: #fff;
}
.header__line {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
/*Style Sandwich*/
.btn_nav {
	border: none;
	display: inline-block;
	z-index: 60;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
	position: relative;
}
.btn_nav:hover {
	opacity: 1;
}
.sandwich span {
	display: block;
}
.sandwich {
 width: 36px;
  height: 36px;
  box-shadow: 0 0 15px #4db5ff;
  background-image: linear-gradient(to top, #4db5ff, #1493ed);
  border-radius: 50%;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 20;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.sandwich:hover {
	box-shadow: 0 0 25px #4db5ff;
}
.sw-topper {
	position: relative;
	top: 13px;
	width: 14px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 15px;
	width: 14px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 17px;
	width: 14px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 16px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top:12px;
	transform: rotate(-45deg);
}
/*End Sandwich*/
.logo {
	display: inline-block;
}
.logo img {
	width: 263px;
	max-width: 100%;
	height: auto;
	display: block;
}
.logo-descr {
	font-size: 13px;
	max-width: 209px;
  line-height: 1.23;
  color: #ffffff;
}
.header__line .logo {
	margin: 0 -20px;
}
.contact-header {
	font-size: 14px;
}
.contact-header__name {
	font-family: "RobotoMedium";
}
.contact-header a {
	color: #fff;
}
.btn-callback {
 width: 36px;
  height: 36px;
  font-size: 15px;
  margin-right: 17px;
  box-shadow: 0 0 15px #4db5ff;
  background-image: linear-gradient(to top, #4db5ff, #1493ed);
  border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-callback:hover {
	box-shadow: 0 0 25px #4db5ff;
}
.link-phone {
	display: inline-block;
	color: #fff;
	font-family: "RobotoBold";
}
.right-contact {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	text-align: right;
}
.time-phone {
	font-size: 14px;
	text-transform: uppercase;
}



.billbord {
	padding-top: 155px;
	padding-bottom: 65px;
	color: #fff;
	background-image: url(../img/billbord.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.title-big {
	font-size: 40px;
	font-family: "RobotoMedium";
}
.title-big span {
	color: #ff7000;
}
.item-billbord {
	padding: 30px;
	background-color: rgba(0, 74, 128, 0.25);
	border-radius: 8px;
	border: 1px rgba(255, 255, 255, 0.5) solid;
	  box-shadow: 0px 12px 15px 0 rgba(76, 181, 255, 0.34);
	  -webkit-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  transition: all 0.3s;
}
.item-billbord:hover {
	  box-shadow: 0px 2px 15px 0 rgba(76, 181, 255, 0.74);
}
.row_billbord > div {
		margin-bottom: 30px;
}
.row_billbord > div:last-child {
	margin-bottom: 0;
}
.item-billbord__img img {
	max-width: 100%;
	max-height: 92px;
	display: block;
}
.item-billbord__img {
	margin-bottom: 15px;
}
.item-billbord__name {
	font-size: 18px;
	padding-bottom: 4px;
	font-family: "RobotoBold";
}
.item-billbord__text {
	font-size: 14px;
	line-height: 21px;
}
.wrap-text-tab li,
.item-billbord__text li {
	position: relative;
	padding-left: 10px;
	margin-bottom: 3px;
}
.wrap-text-tab li::before,
.item-billbord__text li::before {
position: absolute;
display: block;
content: "â€¢";
top: 2px;
left: 0;
}
.col_pr {
	padding-right: 0;
}
.btn-video {
	font-size: 14px;
	line-height: 21px;
	color: #fff;
	font-family: "RobotoMedium";
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;
}
.btn-video__text {
	max-width: 115px;
	text-align: right;
}
.btn-video__icon {
	  width: 76px;
  height: 76px;
  border-radius: 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 23px;
  font-size: 20px;
	box-shadow: 0px 15px 13px 0 rgba(235, 138, 0, 0.5);
	background-color: #eeb405;
  background-image: radial-gradient(circle at 0 0, #f8f64c, #eeb405);
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-video__icon:hover {
	box-shadow: 0px 0px 33px 0 rgba(235, 138, 0, 0.9);
}
.btn-video__icon::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	border: 1px rgba(238, 180, 5, 0.5) solid;
	transform: scale(1.4);
}
.btn-video-wrap {
	padding-right: 120px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
.btn-main {
	height: 52px;
	border-radius: 50px;
	padding: 0 50px;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	 font-size: 14px;
	 color: #fff;
	 font-family: "RobotoMedium";
	  box-shadow: 0px 15px 21px 0 rgba(255, 84, 0, 0.5);
  background-image: linear-gradient(to bottom, #ff9100, #ff5400);
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-main::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 50px;
	 box-shadow: inset 0px 0px 5px rgba(255, 225, 210, 0.5);
	   -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-main::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 50px;
	background-color: #e54b00;
	  opacity: 0;
	  z-index: -1;
	  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-main:hover::after {
	opacity: 1;
}
.btns-billbord .btn-main {
	padding: 0 30px;
	width: 305px;
	height: 70px;
	max-width: 100%;
}
.btn-main_blue {
	box-shadow: 0px 7px 15px 0 rgba(77, 181, 255, 0.5);
  background-image: linear-gradient(to bottom, #4db5ff, #1493ed);
}
.btn-main_blue::before {
	 box-shadow: inset 0px 0px 5px rgba(214, 238, 255, 0.5);
}
.btn-main_blue::after {
	background-color: #0080db;
}
.btns-billbord {
	padding-top: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.btns-billbord .btn-main {
	margin-right: 25px;
}
.btns-billbord .btn-main:last-child {
	margin-right: 0;
}
.billbord .title-big {
	padding-top: 90px;
}
.title-section {
	font-size: 30px;
	color: #3b4349;
	font-family: "RobotoMedium";
}
.categories {
	padding-bottom: 50px;
	background-image: url(../img/bg_categories.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.categories .title-section {
	padding-top: 60px;
	padding-bottom: 50px;
}
.item-category__name {
	font-size: 15px;
	color: #fff;
	font-family: "RobotoMedium";
}
.item-category__icon {
	  width: 83px;
  height: 83px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 22px;
  padding: 15px;
  border: solid 2px #ffffff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-category__icon img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-category:hover .item-category__icon img {
	transform: rotateY(180deg);
}
.item-category {
	width: 18%;
	max-width: 195px;
	padding: 20px 10px;
	min-height: 205px;
	margin-bottom: 34px;
	  border-radius: 8px;
  background-color: #4db5ff;
	display: block;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-category:hover {
  background-color: #2c95df;
}
.categories-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.popular {
	padding: 50px 0;
}
.item-product__name {
	padding-bottom: 14px;
	color: #3b4349;
	display: block;
font-family: "RobotoMedium";
}
.item-product__price {
	font-size: 24px;
	padding-bottom: 20px;
	font-family: "RobotoBold";
}
.link-main {
	font-size: 14px;
	color: #3b4349;
	border-bottom: 1px #3b4349 solid;
	display: inline-block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.link-main:hover {
	border-color: transparent;
}
.item-product__image {
	height: 170px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	position: relative;
}
.item-product__image img {
	max-width: 100%;
	max-height: 1000%;
	display: block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-product .btn-main {
	width: 100%;
	padding: 0 20px;
	margin-bottom: 20px;
}
.item-product {
	max-width: 263px;
	padding-bottom: 22px;
	min-height: 100%;
	margin: 25px auto;
	  border-radius: 8px;
  box-shadow: 0px 3px 10px 0 rgba(192, 197, 207, 0.5);
  background-color: #ffffff;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.item-product:hover {
	  box-shadow: 0px 3px 14px 0 rgba(192, 197, 207, 1);
}
.item-product__special {
	font-size: 12px;
	padding: 10px 7px;
	top: 11px;
	left: 0;
	position: absolute;
	text-transform: uppercase;
	  background-color: #ff9100;
	font-family: "RobotoBold";
  color: #ffffff;
  z-index: 2;
}
.item-product__content {
	padding: 0 27px;
}
.align_center {
	text-align: center;
}
.slick-arrow {
	  width: 38px;
  height: 38px;
  background-color: #dfe3ec;
  border-radius: 50%;
  top: 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3b4349 !important;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slick-prev {
	left: 0;
}
.slick-arrow:hover {
	background-color: #ccd6ed;
}
.slick-arrow::before {
	display: none;
}
.slider-products .slick-prev {
	left: -40px;
}
.slider-products .slick-next {
	right: -40px;
}
.title-page {
	font-size: 36px;
}
.title-page strong {
	 font-family: 'Robotoblack';
	 font-weight: normal;
}
.block-order {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
	z-index: 1;
}
.block-order::after {
	position: absolute;
	display: block;
	content: " ";
	border-radius: 8px;
	width: 100%;
	height: 100%;
	max-width: 98%;
	top: 6px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: -1;
	background-color: rgba(255, 255, 255, 0.3);
}
.block-form__title {
	font-size: 18px;
	padding-bottom: 32px;
	font-family: "RobotoMedium";
}
.item-form {
	margin-bottom: 18px;
}
.item-form input {
	height: 49px;
	width: 100%;
	padding: 0 15px;
	font-size: 13px;
	  border-radius: 6px;
  border: solid 1px #dfe3ec;
  background-color: #ffffff;
	font-family: "RobotoRegular", sans-serif;
	color: #000;
}
.block-order {
	margin-top: 45px;
	background-color: #fff;
	  border-radius: 8px;
  box-shadow: 0px 5px 10px 0 rgba(192, 197, 207, 0.5);
  background-color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.block-order:hover {
  box-shadow: 0px 5px 20px 0 rgba(192, 197, 207, 1);	
}
.block-form {
	background-color: #fff;
	padding: 36px 100px;
	width: 60%;
}
.block-order__right {
	width: 40%;
	padding-top: 20px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
  background-color: #dfe3ec;
  text-align: center;
}
.name-consult {
	font-size: 18px;
	padding-bottom: 3px;
	font-family: "RobotoBold";
}
.descr-consult {
	font-size: 15px;
	line-height: 21px;
	padding-bottom: 35px;
}
.order {
	padding-top: 50px;
	padding-bottom: 90px;
	background-image: url(../img/bg_order.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.image-conuslt img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.image-conuslt {
	margin-bottom: 20px;
}
.consult-link {
	 font-size: 14px;
	  display: inline-block;
	font-family: "RobotoMedium";
}
.block-form .btn-main {
	height: 55px;
	padding-left: 26px;
	padding-right: 26px;
	margin-top: 8px;
	width: auto;
}
.checkbox {
	font-size: 11px;
	margin-top: 30px;
	text-align: left;
	  color: #3b4349;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 1px 0 0 7px !important;
}
.checkbox label span {
	position: relative;
	padding: 3px 0 0 23px;
	display: block;
	cursor: pointer;
}
.checkbox label span:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 0;
	width: 15px;
	height: 15px;
	 border: solid 1px rgba(60, 62, 92, 0.7);
	transition: .2s;
}
.checkbox label span:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 0px;
	width: 15px;
	height: 15px;
	    content: "\f00c";
	    display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flex;
	    display: -o-flex;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
        font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    background-image: none;
    font-size: 7px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.hand-image {
    position: absolute;
    top: 7px;
    left: -128px;
}
.col_order {
	padding-left: 60px;
}
.portfolio {
	background-color: #fafafa;
}
.tabs {
	 border-radius: 8px;
  box-shadow: 0px 5px 15px 0 rgba(192, 197, 207, 0.5);
	background-color: #fff;
	overflow: hidden;
}
.tabs li {
	display: block;
}
.tabs li a {
	height: 60px;
	padding: 0 22px;
	 font-size: 14px;
	 line-height: 18px;
	   color: #3b4349;
	   border-bottom: 1px #f1f1f5 solid;
	 font-family: "RobotoMedium";
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.tabs li:last-child a {
	border: none;
}
.tabs li a:hover,
.tabs li.active a {
	background-color: #4db5ff;
	color: #fff;
}
.portfolio .title-section {
	padding-bottom: 42px;
}
.tab-container {
	padding: 20px;
	  border-radius: 8px;
	  font-size: 14px;
	  line-height: 20px;
	  min-height: 100%;
  box-shadow: 0px 5px 15px 0 rgba(192, 197, 207, 0.5);
  background-color: #ffffff;
}
.portfolio {
	padding-top: 40px;
	padding-bottom: 50px;
}
.tab-container__title {
	font-size: 24px;
	font-family: "RobotoMedium";
}
.tab-container__image {
	height: 384px;
	overflow: hidden;
	border-radius: 8px;
}
.tab-container__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.wrap-text-tab {
	padding-left: 27px;
}
.tab-container__name {
	font-size: 18px;
	margin-top: 22px;
	margin-bottom: 7px;
	font-family: "RobotoBold";
	position: relative;
}
.tab-container__name::before {
	position: absolute;
	display: block;
	content: " ";
	 width: 7px;
  height: 7px;
  left: -20px;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 0 8px 0 rgba(255, 84, 0, 0.5);
  background-image: linear-gradient(to top, #ff9100, #ff5400);
  border-radius: 50%;
}
.tab-content {
	display: none;
}
.tab-content:first-child {
	display: block;
}
.sertificats-wrap {
	max-width: 406px;
}
.slider-sertificats .slick-arrow {
	bottom: -77px;
	right: 0;
	left: auto;
	top: auto;
	transform: none;
}
.slider-sertificats .slick-prev {
	right: 52px;
}
.slider-sertificats__item {
	height: 550px;
	display: block;

}
.slider-sertificats__item img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.slider-sertificats {
	margin-bottom: 35px;
		  border-radius: 6px;
	  border: 12px #fff solid;
  box-shadow: 0px 7px 30px 0 rgba(120, 135, 155, 0.15);
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slider-sertificats:hover {
	  box-shadow: 0px 7px 30px 0 rgba(120, 135, 155, 0.5);
}
.clients {
	padding-top: 110px;
	padding-bottom: 90px;
	background-color: #f1f1f5;
}
.slider-counter {
	color: #4db5ff;
font-size: 24px;
font-family: "RobotoMedium";
line-height: 24px;
}
.slider-counter span {
	color: #3b4349;
}
.item-client {
	margin-top: 30px;
height: 132px;
padding: 5px;
box-shadow: 0 7px 30px rgba(120, 135, 155, 0.15);
border-radius: 6px;
background-color: #ffffff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-client img {
	max-width: 100%;
	height: auto;
	display: block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-client:hover img {
	transform: scale(1.1);
}
.clients .container {
	position: relative;
	z-index: 1;
}
.bg-circle {
	width: 866px;
	height: 866px;
left: -202px;
    bottom: -100px;
	position: absolute;
	z-index: -1;
	background-image: url(../img/bg_circle.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.list-selection {
	font-size: 30px;
	line-height: 40px;
}
.list-selection li {
	margin-bottom: 30px;
	position: relative;
	padding-left: 40px;
}
.list-selection li::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	background-image: url(../img/ic_li.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
strong {
font-family: "RobotoBold";
font-weight: normal;
}
.selection {
	padding-top: 49px;
	padding-bottom: 10px;
	background-color: #f1f1f5;
	background-image: url(../img/bg_selection.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.image-laptop {
	left: -351px;
	top: -27px;
	position: absolute;
}
.slide-selection img {
	max-width: 100%;
	height: auto;
	display: block;
}
.slider-selection {
	margin-top: 43px;
}
.slider-selection .slick-arrow {
	top: 40%;
}
.partners {
	padding-top: 60px;	
	padding-bottom: 60px;
}
.item-partner {
	width: 132px;
height: 132px;
margin: 20px 20px;
box-shadow: 0 7px 20px rgba(120, 135, 155, 0.15);
border-radius: 6px;
background-color: #ffffff;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}
.item-partner img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-partner:hover img {
	transform: scale(1.1);
}
.slider-partners {
	padding: 0 40px;
	margin-top: 20px;
}
.partners .title-section {
	padding-left: 55px;
}
.item-team {
		width: 186px;
height: 215px;
	margin: 0 2px;
	margin-top: -47px;
	position: relative;
	display: inline-block;
}
.item-team__image {
	width: 186px;
height: 215px;
	background-image: url(../img/item_team_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.item-team__image:hover img {
	transform: scale(1.03);
	position: relative;
	z-index: 1;
}
.item-team__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.team-wrap {
	margin-top: 38px;
	padding-top: 47px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.break {
  flex-basis: 100%;
  height: 0;
}

.item-team__name {
	padding-bottom: 20px;
	color: #3b4349;
font-family: "RobotoBold";
font-size: 24px;
}
.item-team__descr {
color: #004a80;
font-family: "RobotoMedium";
font-size: 14px;
}
.item-team_active .item-team__image {
	position: absolute;
bottom: 64px;
    right: 8px;
	width: 358px;
height: 424px;
background-image: url(../img/item_team_bg_active.png);
}
.item-team__content {
	width: 179px;
	height: 206px;
	padding: 40px 30px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	text-align: center;
	 filter: drop-shadow(0 6px 20px rgba(0, 74, 128, 0.2));
	background-image: url(../img/bg_content_team.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.team {
	padding-bottom: 60px;
}
.block-about {
	padding: 50px 50px;
	box-shadow: 0 16px 30px rgba(120, 135, 155, 0.15);
border-radius: 3px;
background-color: #ffffff;
}
.text {
	font-size: 14px;
line-height: 21px;
 text-indent: 35px;
    text-align: justify;
}
.block-about .title-section {
	padding-bottom: 60px;
}
.item-about {
	min-height: 100%;
	padding: 30px 20px;
	padding-bottom: 19px;
	color: #fff;
	border-radius: 8px;
	font-size: 15px;
	font-family: "RobotoMedium";
line-height: 22px;
text-align: center;
background-color: #2ba7ff;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.item-about__icon {
	width: 105px;
height: 105px;
margin: 0 auto;
margin-bottom: 40px;
border: 2px solid #ffffff;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
align-items: center;
justify-content: center;
padding: 25px;
border-radius: 50%;
}
.item-about__icon img {
	max-width: 100%;
	max-height: 100%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-about:hover .item-about__icon img {
	transform: rotateY(180deg);
}
.item-about:hover {
  background-color: #2c95df;
}
.item-about__icon img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}
.row_about > div {
	margin-top: 60px;
}
.about {
	padding-bottom: 50px;
	background-color: #fafafa;
}
.instagram {
	padding-top: 50px;
		background-color: #fafafa;
}
.instagram .title-page {
	color: #004a80;
	position: relative;
}
.icon-insta {
	position: absolute;
	top: -38px;
	left: 175px;
	z-index: -1;
}
.instagram .container {
	position: relative;
	z-index: 1;
}
.item-insta {
	width: 264px;
	height: 264px;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 48px;
	overflow: hidden;
	display: block;
		-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-insta img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-insta:hover img {
	transform: scale(1.1);
}
.item-insta:hover {
box-shadow: 0px 0px 15px 0 rgba(192, 197, 207, 1);
}
.instagram {
	padding-bottom: 113px;
}
.footer-logo-decsr {
font-size: 14px;
margin-top: 18px;
max-width: 237px;
}
.footer {
	padding-top: 29px;
	background-color: #3b4349;
	color: #fff;
}
.footer .logo {
	margin-top: -8px;
}
.footer-nav li {
	margin-bottom: 15px;
	display: block;
}
.footer-nav li a {
	color: #fff;
	border-bottom: 1px transparent solid;
	display: inline-block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.footer-nav li a:hover {
	border-color: #fff;
}
.align_right {
	text-align: right;
}
.footer__bottom * {
	color: rgba(255, 255, 255, 0.5);
}
.footer__bottom {
	padding: 22px 0;
	font-size: 13px;
	margin-top: 33px;
	border-top: 1px rgba(255, 255, 255, 0.5) solid;
}
.create img {
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
	margin-top: -4px;
}
.btn_top {
	font-size: 24px;
	position: relative;
	color: #3b4349;
	width: 42px;
	height: 42px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #fff;
	z-index: 300;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top i {
color: #3b4349;
}
.btn_top:hover {
	transform: scale(1.1);
}
.footer__title {
	padding-bottom: 25px;
	font-family: "RobotoMedium";
}
.footer__contact {
	font-size: 14px;
	margin-bottom: 25px;
	line-height: 21px;
font-weight: 400;
}
.social-list {
	padding-top: 15px;
}
.social-list li {
	margin-right: 17px;
	display: inline-block;
	vertical-align: middle;
}
.social-list li:last-child {
	margin-right: 0;
}
.social-list li a {
	color: #fff;
	width: 39px;
height: 39px;
background-color: rgba(196, 200, 197, 0.3);
border-radius: 50%;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
align-items: center;
justify-content: center;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.social-list li a:hover {
	transform: scale(1.1);
}
.menu__nav li {
	margin-bottom: 30px;
	display: block;
}
.menu__nav li:last-child {
	margin-bottom: 0;
}
.menu__nav li a {
	color: #0077cc;
font-size: 16px;
border-bottom: 1px transparent solid;
text-transform: uppercase;
font-family: "RobotoBold";
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.menu__nav li a:hover {
	border-color: #0077cc;
}
.menu {
	position: absolute;
	top: 100%;
	left: 15px;
	right: 15px;
	margin-top: 20px;
	display: none;
		padding: 45px 45px;
	box-shadow: 0 5px 15px rgba(192, 197, 207, 0.5);
border-radius: 8px;
background-color: #ffffff;
}
.header .container {
	position: relative;
}
.menu__list li {
	margin-top: 22px;
	display: block;
}
.menu__list li a {
	color: #3b4349;
font-size: 14px;
	display: inline;
	font-family: "RobotoMedium";
	line-height: 20px;
	border-bottom: 1px transparent solid;
}
.menu__list li a:hover {
	border-color: #3b4349;
}

/*card*/
.header_page {
	position: relative;
	color: #3b4349;
}
.header_page .link-phone,
.header_page .contact-header a,
.header_page .logo-descr {
	color: #3b4349;
}
.nav {
	padding: 22px 0;
	background-color: #07c;
}
.nav__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.nav__list li a {
	font-size: 17px;
	border-bottom: 1px transparent solid;
	color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.nav__list li a:hover {
	border-color: #fff;
}
.breadcumbs {
	padding: 15px 0;
}
.breadcumbs li {
font-size: 14px;
	display: inline-block;
	vertical-align: middle;
}
.breadcumbs li a {
	color: #3b4349;
	border-bottom: 1px transparent solid;
	display: inline-block;
	vertical-align: middle;
		-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.breadcumbs li a:hover {
	border-color: #3b4349;
}
.slider-card__item {
	height: 450px;
	padding: 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-card__item img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	height: auto;
}
.slider-card {
	padding-bottom: 65px;
	box-shadow: 0 5px 15px rgba(192, 197, 207, 0.5);
border-radius: 8px;
background-color: #ffffff;
}
.slick-dots {
	bottom: 30px;
}
.slick-dots li {
	width: 9px;
height: 9px;
}
.slick-dots li button {
	width: 9px;
height: 9px;
background-color: #0077cc;
border-radius: 50%;
border: none !important;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background-color: #ff7124;
}
.card {
	padding-bottom: 28px;
	background-color: #fafafa;
}
.title-main {
	font-size: 24px;
	padding: 20px 0;
	font-family: "RobotoMedium";
}
.card .text {
	text-indent: 0;
}
.text span {
	font-family: "RobotoMedium";
}
.item-radio input {
	display: none;
}
.item-radio span {
	display: inline-block;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	min-width: 48px;
	text-transform: uppercase;
	border: 1px solid #a9b3bb;
	background-color: #fff;
}
.item-radio input:checked + span {
	opacity: 1;
	border-color: #07c;
}
.item-radio {
	cursor: pointer;
	margin-bottom: 8px;
	display: inline-block;
	vertical-align: top;
}
.item-radio img {
	max-width: 69px;
	height: auto;
}
.type-radios .item-radio {
	margin-right: 30px;
}
.type-radios .item-radio:last-child {
	margin-right: 0;
}
.text_title {
	margin-bottom: 12px;
}
.type-power {
	padding-top: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.type-power .item-radio {
	margin-right: 12px;
}
.type-power .text {
	margin-right: 12px;
}
.line-stream {
	margin-top: 12px;
	padding-bottom: 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.line-stream .item-form {
	margin: 0;
	margin-left: 17px;
}
.line-stream .item-form input {
	height: 40px;
	width: 175px;
}
.checkbox_main label span:before {
	width: 18px;
	height: 18px;
	border-radius: 3px;
border: 1px solid #dfe3ec;
background-color: #ffffff;
}
.checkbox_main label span:after {
		width: 18px;
	height: 18px;
	top: 3px;
	border-radius: 3px;
	font-size: 12px;
	color: #07c;
}
.checkbox_main label input:checked + span:before {
	border-color: #0077cc;
}
.checkbox_main {
	font-size: 14px;
}
.checkbox_main {
	margin-top:3px;
}
.card-price {
	padding: 17px 0;
	font-size: 18px;
line-height: 24px;
font-family: "RobotoBold";
}
.card-price span {
	font-size: 24px;
	text-transform: uppercase;
}
.phone-form-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.phone-form-wrap * {
	margin: 0;
}
.phone-form-wrap .btn-main {
margin-left: -20px;
}
.phone-form-wrap .input-phone {
	width: 180px;
}
.card-list {
	font-size: 14px;
line-height: 20px;
	box-shadow: 0 5px 15px rgba(192, 197, 207, 0.5);
border-radius: 8px;
background-color: #ffffff;
}
.card-list li {
	padding: 20px 33px;
	padding-right: 15px;
	position: relative;
	border-bottom: 1px #f1f1f5 solid;
}
.card-list li::before {
	position: absolute;
	display: block;
	content: " ";
	top: 27px;
	left: 14px;
	width: 7px;
height: 7px;
box-shadow: 0 0 8px rgba(255, 84, 0, 0.5), inset 0 0 7px rgba(254, 161, 0, 0.34);
background-color: #ff9100;
background-image: linear-gradient(to bottom, #ff9100 0%, #ff5400 100%);
border-radius: 8px;
}
.card-info {
	padding-top: 20px;
	padding-bottom: 38px;
}
.tabs-card {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.tabs-card li a {
	width: 262px;
	height: 56px;
	margin-right: 5px;
	color: #3b4349;
font-size: 18px;
line-height: 24px;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 8px;
		border-top-left-radius: 8px;
border: 1px solid #a9b3bb;
border-bottom: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.tabs-card li:last-child a {
	margin-right: 0;
}
.tabs-card li.active a,
.tabs-card li a:hover {
	background-color: #4db5ff;
	color: #fff;
	border-color: #4db5ff;
}
.table-wrap table {
	width: 100%;
	font-size: 14px;
	font-family: "RobotoMedium";
	border-spacing: 0;
}
.table-wrap table td {
	padding: 10px 10px;
}
.table-wrap table td:first-child {
	padding-left: 45px;
}
.table-wrap table tr:nth-child(even) td {
background-color: #fafafa;
}
.tabs-card-container {
	font-size: 14px;
	line-height: 21px;
	border: 1px solid #a9b3bb;
	padding: 30px 0;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.tabs-card-pane {
	display: none;
}
.tabs-card-pane:first-child {
	display: block;
}
.tabs-card-pane__content {
	padding: 0 30px;
}
.selection_page .title-section strong {
	 font-family: 'Robotoblack';
}
.selection_page .title-section {
	max-width: 575px;
}
.selection_page {
	padding-bottom: 50px;
	background-position: center 20%;
}
.modal-block {
	display: none;
}
.fancybox-skin {
	background-color: transparent !important;
	padding: 0 !important;
	box-shadow: none !important;
}
.video-modal iframe {
	max-width: 100%;
}
.modal-wrap-catch .block-order {
	width: 100%;
	margin: 0;
	box-shadow: none;
	border-radius: 8px;
}
.modal-wrap-catch {
	width: 690px;
	padding-bottom: 15px;
	max-width: 100%;
	margin: 0 auto;
}
.modal-wrap-catch .name-consult,
.modal-wrap-catch .descr-consult {
	font-family: "RobotoMedium";
}
.modal-wrap-catch .title-section {
	padding-bottom: 10px;
}
.modal-wrap-catch .block-order__right {
	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.modal-wrap-catch .block-form {
	padding: 36px 55px;
	    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.modal-wrap-catch .btn-main {
	width: 100%;
}
.title-modal {
	color: #3b4349;
	padding-bottom: 40px;
	font-family: "RobotoMedium";
font-size: 24px;
line-height: 32px;
}
.title-modal span {
	font-family: "RobotoBold";
	text-transform: uppercase;
}
.modal-wrap-catch .align_center,
.modal-wrap-catch .item-form {
	max-width: 259px;
}
.fancybox-close {
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background: none !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    transform: rotate(44deg);
    color: #0077cc;
        font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}
.fancybox-close:before {
    content: "\f067";
}
.modal-wrap {
	max-width: 100%;
	margin: 0 auto;
	padding-bottom: 30px;
	z-index: 1;
}
.modal-wrap .block-form {
	padding: 50px 70px;
	width: 420px;
	max-width: 100%;
	border-radius: 8px;
	position: relative;
	z-index: 1;
}
.modal-wrap .title-modal {
	padding-bottom: 35px;
	text-align: center;
}
.modal-wrap .block-form::after {
	position: absolute;
	display: block;
	content: " ";
	border-radius: 8px;
	width: 100%;
	height: 100%;
	max-width: 98%;
	top: 6px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: -1;
	pointer-events: none;
	background-color: rgba(255, 255, 255, 0.7);
}
.modal-wrap .block-form .btn-main {
	width: 260px;
	max-width: 100%;
}
.row_catalog .item-product {
	margin: 0;
}
.row_catalog > div {
	margin-bottom: 30px;
}
.head-catalog {
	padding-bottom: 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.head-catalog_left {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.head-catalog_left .checkbox {
	margin-left: 30px;
}
.head-catalog_left .checkbox:first-child {
	margin-left: 0px;
}
.product-select {
    margin: 0px 0px 0px -35px;
    background: url(../img/product/arrow.png) no-repeat center right 8px;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none !important;
    padding: 0px 0px 0px 15px;
    width: 82px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #a9b3bb;
    background-color: #ffffff;
}
.head-catalog_right {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.head-catalog_right p {
	font-size: 14px;
line-height: 21px;
}
select::-ms-expand {
	display: none;
}
select {
	background-image: url(../img/angle-down.svg);
	background-repeat: no-repeat;
	-webkit-background-size: 10px auto;
	background-size: 10px auto;
    background-position: center right 8px;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none !important;
    padding: 0px 0px 0px 15px;
   width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #a9b3bb;
    background-color: #ffffff;
}
.head-catalog_right select {
	width: 82px;
	margin-left: 15px;
}
.pagination ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pagination ul li a {
	color: #3b4349;
font-size: 18px;
margin: 0 7px;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.pagination ul li.active a {
	color: #004a80;
font-family: "RobotoMedium";
}
.pagination ul li a:hover {
	color: #004a80;
}
.pagination .pagination-prev a,
.pagination .pagination-next a {
width: 38px;
height: 38px;
background-color: #dfe3ec;
border-radius: 50%;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
align-items: center;
	color: #3b4349;
	font-size: 18px;
justify-content: center;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.pagination .pagination-prev a:hover,
.pagination .pagination-next a:hover {
	background-color: #ccd6ed;
	color: #3b4349;
}
.pagination .pagination-prev {
	margin-right: auto;
}
.pagination .pagination-next {
	margin-left: auto;
}
.catalog {
	padding-bottom: 30px;
}
.tabs_catalog li a {
	padding: 0 10px;
}

/*new*/
.team-info {
	display: none;
}
.article li,
.article p {
	margin-bottom: 15px;
} 
.title {
	padding: 30px 0;
}
.wr {
	padding-bottom: 40px;
}
.doc {
	margin-bottom: 20px;
}
.doc a {
	    color: #0b72c3;
	display: inline-block;
}
.doc a i {
	margin-right: 5px;
}
.doc a span {
    display: inline-block;
    border-bottom: 1px #0b72c3 dotted;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.doc a:hover span {
	border-color: transparent;
}

.slide-selection {
	position: relative;
}
.slide-selection__main {
	padding: 19px;
	margin: 0 auto;
	box-shadow: 0 5px 15px rgba(192, 197, 207, 0.5);
border-radius: 8px;
background-color: #ffffff;
width: 864px;
height: 490px;
max-width: 100%;
	background-color: #fff;
}
.slide-selection__right img,
.slide-selection__main img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slide-selection__left {
	position: absolute;
    bottom: -110px;
    left: 40px;
}
.slide-selection__left img {
	max-width: 423px;
	max-height: 253px;
}
.slide-selection__right {
width: 377px;
height: 226px;
	position: absolute;
	bottom: 0;
	right: 60px;
	z-index: 2;
}
.slide-selection__right::before {
	position: absolute;
	display: block;
	content: " ";
width: 410px;
height: 340px;
    top: -16px;
    left: -17px;
background-image: url(../img/selection_bg.png);
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: cover;
background-size: cover;
z-index: -1;
}
.slider-selection {
	margin-top: 70px;
}
.slide-selection__main {
	margin-bottom: 150px;
}

/*new 2*/
.card__title {
	font-size: 18px;
	padding-top: 30px;
	padding-bottom: 15px;
	font-family: "RobotoMedium";
}
.hidden-text-card {
	display: none;
}
.text-min {
	font-size: 14px;
	line-height: 21px;
}
.link-blue {
	font-size: 14px;
	color: #07c;
	border-bottom: 1px #0077cc solid;	
	display: inline-block;
	transition: all 0.3s;
}
.link-blue:hover {
	border-color: transparent;
}
.link-blue_more-card {
	margin-top: 15px;
}
.card .title-main {
	padding: 0;
}
.item-feature {
	font-size: 14px;
	line-height: 20px;
	max-width: 520px;
	margin-bottom: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}
.item-feature__name span {
	font-weight: 500;
}
.item-feature__value {
	padding-left: 2px;
	background-color: #fff;
	z-index: 1;
}
.item-feature__name {
	padding-right: 2px;
	position: relative;
}
.item-feature__name::after {
	position: absolute;
	display: block;
	content: " ";
	left: 100%;
	bottom: 0;
	width: 700px;
	height: 1px;
	background-color: #ccc;
}
.item-doc {
	margin-top: 25px;
	color: #3b4349;
	display: inline-flex;
	align-items: center;
}
.item-doc span {
	border-bottom: 1px transparent solid;
	transition: all 0.3s;
}
.item-doc img {
	margin-right: 15px;
}
.item-doc:hover span {
	border-color: #3b4349;
}
.docs-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.actions-card {
	margin-top: 45px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}
.actions-card .btn-main {
	padding: 0 25px;
}
.card {
	padding-top: 20px;
}
.col_right-card {
	padding-left: 25px;
}
.slider-projects__item {
	height: 431px;
	position: relative;
	border-radius: 8px;
	box-shadow: 0 5px 15px rgba(192, 197, 207, 0.5);
}
.slider-projects__item img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 8px;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.projects-card {
	padding: 35px 0;
}
.slider-projects__name {
	bottom: 20px;
	left: 20px;
	padding: 7px 13px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	display: inline-block;
	color: #000;
	transition: all 0.3s;
	font-family: "RobotoMedium";
}
.slider-projects {
	padding-bottom: 40px;
}
.slider-projects .slick-dots {
	bottom: 0;
}
.title-main_center {
	text-align: center;
}
.projects-card .title-main {
	padding-top: 0;
	padding-bottom: 25px;
}
.item-product__content {
	padding-bottom: 115px;
	position: relative;
}
.item-product .btn-main {
	width: auto;
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 30px;
	margin: 0;
}
.item-product__name {
	padding-bottom: 0;
}
.item-product {
	padding-bottom: 0;
}